.git
.gitignore
.gitattributes
node_modules
vendor
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
tests
docker-compose*.yml
Dockerfile
*.md
.idea
.vscode
Makefile
